* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  font-family: "Inter";
  font-style: normal;
}
.container {
  width: 885px;
  margin: 5px auto;
  box-shadow: 0px 0px 4px #aaa;
}
.section-one {
  padding: 33px 66.6px 51px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.navigate {
  display: flex;
}

.navigators {
  display: flex;
  list-style-type: none;
}

.loginbtn {
  display: inline-block;
  margin-left: 10px;
  background: #fffefe;
  border: 1px solid #f36b7f;
  border-radius: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #f36b7f;
  width: 102px;
  height: 33px;
  margin: 5px 0;
}
.navigators li {
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.2);
}

.b-logo {
  font-weight: 700;
  font-size: 20px;
  color: #f36b7f;
}

.landing-page {
  display: flex;
  justify-content: space-between;
}

.landing-action h1 {
  font-weight: 700;
  font-size: 32px;
  color: #395671;
  width: 290px;
}
.landing-action .firstp {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  width: 224px;
  line-height: 17px;
  padding: 10px 0;
}

.landing-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #f36b7f;
  border: 1px solid #f36b7f;
  border-radius: 30px;
  margin-top: 30px;
  padding: 15px 33px;
}

.landing-image {
  width: 476px;
  height: 271px;
}

.illustration {
  width: 476px;
  height: 271px;
  object-fit: fill;
}

.logo-group {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.logos {
  width: 102px;
  height: 45px;
}
.logo-img {
  width: 102px;
  height: 45px;
  object-fit: fill;
  opacity: 0.7;
}
.section-two {
  display: flex;
  background: rgba(243, 107, 127, 1);
  height: 423px;
}
.promo-text {
  padding-top: 100px;
  padding-left: 105px;
}
.promo-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  width: 306px;
}
.promo-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.94px;
  color: #ffffff;
  width: 206px;
}
.playstore {
  width: 217px;
  height: 84.09px;
  margin-bottom: 52px;
  margin-top: 41px;
}
.promo-image {
  width: 325px;
  height: 356px;
  margin-right: 111px;
  margin-top: 66px;
  margin-left: 141px;
  object-fit: fill;
  background-color: rgba(227, 159, 170, 0.987);
  border-radius: 20px;
}

.phone {
  width: 100%;
  height: 100%;
  border: 9.88922px solid rgba(227, 159, 170, 0.987);
  border-radius: 20px;
}
.section-three {
  display: flex;
  justify-content: space-around;
  background: #f5f5f5;
  width: 885px;
  height: 492px;
}
.services {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #000000;
  background: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 48px;
}
.box {
  width: 236px;
  height: 212px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box:hover {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.4));
  left: 2px;
  background: #eee;
}
.box-heading {
  font-weight: 600;
  font-size: 20px;
  margin-top: 52px;
  margin-bottom: 18px;
}
.box-para {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  width: 155px;
  height: 72px;
}

.service-img {
  width: 92px;
  height: 92px;
  position: absolute;
  bottom: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 32%;
}
.service-icon {
  color: #ffffff;
  font-size: 43px;
}
.print {
  background: #82b5a5;
}
.home {
  background: #f8cf61;
}
.outdoor {
  background: #99bbff;
}
.section-four {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  width: 885px;
}
.customer {
  margin-top: 103px;
  margin-left: 119px;
  color: #000000;
}
.agent {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}
.agent-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.agent-woman {
  width: 600px;
  height: 419px;
  object-fit: fill;
}
.woman {
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  background: #82b5a5;
  border-radius: 200px 0px 0px 0px;
  font-size: 1rem;
  width: 885px;
  height: 63px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0px 30px;
}
